.first-color {
    background: #e600ee;
}

.second-color {
    background: #fd006a;
}

.third-color {
    background: #75c907;
}

.fourth-color {
    background: #a9ca03;
}

.fifth-color {
    background: #bbbbbb;
}